/* Try different box model properties below */

.site-header :last-child {
  color: #fff;
  margin-bottom: 0;
}

.site-footer :only-child {
  font-size: 12px;
  text-align: center;
}

.messages .message:last-child {
  box-shadow: 4px 4px 0 #dba944;
}
