.app {
  height: 100%;
  transition: background-color 1s ease-in;
}

.app__header,
.app__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*  Search bar */

.app__header {
  background: rgb(123, 136, 220);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

.app__header input,
.app__header button {
  margin-left: 10px;
}

/* Current weather */

.app__main {
  background: rgb(156, 194, 247);
  height: 100%;
}

#main-weather {
  text-align: center;
}

#hero {
  color: #fff;
  font-weight: bold;
}

.info {
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.details ul {
  list-style: none;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details img {
  width: 6em;
  height: 6em;
}

/* mobiles */

@media screen and (max-width: 500px) {
  .app__header {
    flex-direction: column;
    align-items: center;
  }

  #input-country {
    margin-bottom: 10px;
  }

  .details {
    flex-direction: column;
  }

  .details div {
    margin-bottom: 40px;
    padding: 0;
  }
}
