@import url("http://fonts.googleapis.com/css?family=Allura&display=swap");
@import url("http://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "font-awesome/fontawesome";
@import "font-awesome/solid";
@import "font-awesome/regular";
@import "font-awesome/brands.scss";
@import "reset";

// Variables
$primary: #c81189;
$secondary: lighten(#c81189, 45%);
$accent: lighten(#c81189, 40%);
$margin: 50px;

/*----------------------*/
/*---HOME PAGE---*/
/*----------------------*/

body {
  background: $secondary;
  overflow-x: hidden;
}

#wrapper {
  width: 92%;
  margin: 0 auto;
}

header {
  height: 50vh;
  position: relative;

  .bg {
    background-image: url("../images/pickup.jpg");
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.2;
  }

  #hero {
    font-family: "Allura";
    font-size: 2.5em;
    margin-top: 10px;
    color: #fff;
    align-self: flex-start;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #nav-link {
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    display: block;
    width: 100%;
    padding: 5px;
    &:hover {
      background: $accent;
    }
  }

  #nav-link a {
    text-decoration: none;
    color: $primary;
  }
}

// ABOUT & HOW IT WORKS

#main-content {
  margin-top: $margin;

  #works {
    margin-top: 30px;
  }
}

// TESTIMONIALS

#testimonials {
  margin-top: $margin;

  p {
    margin-bottom: 5px;
  }

  blockquote {
    margin: $margin 0;
  }

  img {
    margin: 0 20px 5px 0;
    border-radius: 50%;
    border: 3px solid $accent;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  }

  cite {
    font-weight: bold;
    font-size: 0.8em;
  }
}

// GET APP BUTTON

#btn {
  text-align: center;
}

#btn a {
  text-decoration: none;
  padding: 10px;
  color: $primary;
  border: 1px solid $primary;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 0.9em;
  word-spacing: 1px;
  font-weight: bold;
  &:hover {
    background: $accent;
    transition: 3ms;
  }
}

// FOOTER

footer {
  background: rgba($color: #000000, $alpha: 0.1);
  padding: 15px;
  margin-top: $margin + 20px;

  ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
  }

  #social-link {
    display: inline-block;
    &:nth-child(2) {
      margin: 0 20px;
    }
  }

  .fab {
    font-size: 1.7em;
  }

  p {
    text-align: center;
  }
}
